<?xml version="1.0"?>
<robot name="hexapod" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="hexapod_link_gazebo" params="link_name">
        <gazebo reference="${link_name}">
            <mu1>1000000000000000.0</mu1>
            <mu2>1000000000000000.0</mu2>
            <kp>1000000000000.0</kp>
            <kd>10.0</kd>
            <!-- <fdir1>1 1 0</fdir1> -->
        </gazebo>
    </xacro:macro>

    <xacro:macro name="set_color_c" params="link_name">
        <gazebo reference="${link_name}">
            <material>Gazebo/Yellow</material>
        </gazebo>
    </xacro:macro>
    <xacro:macro name="set_color_f" params="link_name">
        <gazebo reference="${link_name}">
            <material>Gazebo/Green</material>
        </gazebo>
    </xacro:macro>
    <xacro:macro name="set_color_t" params="link_name">
        <gazebo reference="${link_name}">
            <material>Gazebo/Turquoise</material>
        </gazebo>
    </xacro:macro>
    <xacro:macro name="set_color_e" params="link_name">
        <gazebo reference="${link_name}">
            <material>Gazebo/Red</material>
        </gazebo>
    </xacro:macro>
    <xacro:macro name="set_color_b" params="link_name">
        <gazebo reference="${link_name}">
            <material>Gazebo/Yellow</material>
        </gazebo>
    </xacro:macro>

    <xacro:hexapod_link_gazebo link_name="body"/>
    <xacro:hexapod_link_gazebo link_name="c1"/>
    <xacro:hexapod_link_gazebo link_name="f1"/>
    <xacro:hexapod_link_gazebo link_name="t1"/>
    <xacro:hexapod_link_gazebo link_name="c2"/>
    <xacro:hexapod_link_gazebo link_name="f2"/>
    <xacro:hexapod_link_gazebo link_name="t2"/>
    <xacro:hexapod_link_gazebo link_name="c3"/>
    <xacro:hexapod_link_gazebo link_name="f3"/>
    <xacro:hexapod_link_gazebo link_name="t3"/>
    <xacro:hexapod_link_gazebo link_name="c4"/>
    <xacro:hexapod_link_gazebo link_name="f4"/>
    <xacro:hexapod_link_gazebo link_name="t4"/>
    <xacro:hexapod_link_gazebo link_name="c5"/>
    <xacro:hexapod_link_gazebo link_name="f5"/>
    <xacro:hexapod_link_gazebo link_name="t5"/>
    <xacro:hexapod_link_gazebo link_name="c6"/>
    <xacro:hexapod_link_gazebo link_name="f6"/>
    <xacro:hexapod_link_gazebo link_name="t6"/>
    <!-- Apply properties and color -->
    <xacro:set_color_c link_name="c1" />
    <xacro:set_color_c link_name="c2" />
    <xacro:set_color_c link_name="c3" />
    <xacro:set_color_c link_name="c4" />
    <xacro:set_color_c link_name="c5" />
    <xacro:set_color_c link_name="c6" />
    <xacro:set_color_f link_name="f1" />
    <xacro:set_color_f link_name="f2" />
    <xacro:set_color_f link_name="f3" />
    <xacro:set_color_f link_name="f4" />
    <xacro:set_color_f link_name="f5" />
    <xacro:set_color_f link_name="f6" />
    <xacro:set_color_t link_name="t1" />
    <xacro:set_color_t link_name="t2" />
    <xacro:set_color_t link_name="t3" />
    <xacro:set_color_t link_name="t4" />
    <xacro:set_color_t link_name="t5" />
    <xacro:set_color_t link_name="t6" />
    <xacro:set_color_e link_name="e1" />
    <xacro:set_color_e link_name="e2" />
    <xacro:set_color_e link_name="e3" />
    <xacro:set_color_e link_name="e4" />
    <xacro:set_color_e link_name="e5" />
    <xacro:set_color_e link_name="e6" />
    <xacro:set_color_b link_name="body" />

    <gazebo>
        <xacro:if value="$(arg is_ignition)">
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find hexapod_controller)/config/hexapod_controllers.yaml</parameters>
            </plugin>
            <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu"/>
        </xacro:if>
        <xacro:unless value="$(arg is_ignition)">
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find hexapod_controller)/config/hexapod_controllers.yaml</parameters>
            </plugin>
            <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"/>
        </xacro:unless>
    </gazebo>

    <gazebo reference="imu_link">
        <sensor name="imu" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <gz_frame_id>imu_link</gz_frame_id>
            <topic>imu</topic>
            <imu>
                <!-- Orientation (roll, pitch, yaw) -->
                <orientation>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>0.001</stddev> <!-- Adjust for orientation noise level -->
                    </noise>
                </orientation>
                
                <!-- Angular Velocity (rate of rotation around each axis) -->
                <angular_velocity>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>2e-4</stddev> <!-- Noise standard deviation for angular velocity -->
                    </noise>
                </angular_velocity>
    
                <!-- Linear Acceleration (simulates linear velocity indirectly through integration) -->
                <linear_acceleration>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>1.7e-2</stddev> <!-- Noise standard deviation for linear acceleration -->
                    </noise>
                </linear_acceleration>
            </imu>
        </sensor>
    </gazebo>
 
</robot>