<?xml version="1.0"?>

<robot name="hexapod" xmlns:xacro="http://ros.org/wiki/xacro">
    <ros2_control name="RobotSystem" type="system">

        <xacro:if value="$(arg is_sim)">
            <xacro:if value="$(arg is_ignition)">
                <hardware>
                    <plugin>ign_ros2_control/IgnitionSystem</plugin> 
                    <!-- i guess this is your harhware interface if ur using simulation -->
                </hardware>
            </xacro:if>

            <xacro:unless value="$(arg is_ignition)">
                <hardware>
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </hardware>
            </xacro:unless>
        </xacro:if>
 
        <xacro:unless value="$(arg is_sim)">
            <hardware>
                <plugin>hexapod_firmware/HexapodInterface</plugin>
                <param name="port">/dev/ttyUSB0</param>
            </hardware>
        </xacro:unless>


        

        <xacro:macro name="set_joint_interface" params="joint_name joint_min joint_max">
            <joint name="${joint_name}">
                <command_interface name="position">
                    <param name="min">${min}</param>
                    <param name="max">${max}</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </xacro:macro>

        <xacro:set_joint_interface joint_name="c1_j" joint_min="0" joint_max="2.0944"/>
        <xacro:set_joint_interface joint_name="c2_j" joint_min="0" joint_max="2.0944"/>
        <xacro:set_joint_interface joint_name="c3_j" joint_min="0" joint_max="2.0944"/>
        <xacro:set_joint_interface joint_name="c4_j" joint_min="0" joint_max="2.0944"/>
        <xacro:set_joint_interface joint_name="c5_j" joint_min="0" joint_max="2.0944"/>
        <xacro:set_joint_interface joint_name="c6_j" joint_min="0" joint_max="2.0944"/>
        <xacro:set_joint_interface joint_name="f1_j" joint_min="-0.785" joint_max="1.571"/>
        <xacro:set_joint_interface joint_name="f2_j" joint_min="-0.785" joint_max="1.571"/>
        <xacro:set_joint_interface joint_name="f3_j" joint_min="-0.785" joint_max="1.571"/>
        <xacro:set_joint_interface joint_name="f4_j" joint_min="-0.785" joint_max="1.571"/>
        <xacro:set_joint_interface joint_name="f5_j" joint_min="-0.785" joint_max="1.571"/>
        <xacro:set_joint_interface joint_name="f6_j" joint_min="-0.785" joint_max="1.571"/>
        <xacro:set_joint_interface joint_name="t1_j" joint_min="0" joint_max="2.0944"/>
        <xacro:set_joint_interface joint_name="t2_j" joint_min="0" joint_max="2.0944"/>
        <xacro:set_joint_interface joint_name="t3_j" joint_min="0" joint_max="2.0944"/>
        <xacro:set_joint_interface joint_name="t4_j" joint_min="0" joint_max="2.0944"/>
        <xacro:set_joint_interface joint_name="t5_j" joint_min="0" joint_max="2.0944"/>
        <xacro:set_joint_interface joint_name="t6_j" joint_min="0" joint_max="2.0944"/>
        
        
        
    </ros2_control>


    
</robot>
